<launch>
    <node pkg="map_server" type="map_server" name="map_server" args="/path/to/map.yaml" />
    <node pkg="amcl" type="amcl" name="amcl" output="screen" />
    <node pkg="move_base" type="move_base" name="move_base" output="screen" />
    <node pkg="your_package" type="navigate_to_turtlebot1.py" name="navigator" output="screen" />
</launch>
